@import 'normalize.css';
body {
  margin: 0;
}
*{
  user-select: none;
}
button,input{
  outline: none;
  border: none;
  padding: 0;
  font-size: 14px;
}
ul{
  margin: 0;
  list-style: none;
  padding: 0;
}